{% extends 'padre.html' %}

{% load static %}

{% block tituloPagina %}
    Libros - Librería Coder
{% endblock tituloPagina %}

{% block titulo %}  Gestion de Libros{% endblock titulo %}

{% block descripcion_titulo %} Esta pagina, podremos buscar los libros de nuestra libreria Coder {% endblock %}

{% block contenido_que_cambia %}

    <form action="{% url 'buscar' %}" method="GET" >
        <label for="isbn">Búsqueda por el ISBN</label>
        <input type="text" name="isbn" id="isbn" placeholder="Ingresar isbn libro">
        <input type="submit" value="Buscar isbn"><br>

    </form>
    <form action="{% url 'buscarXNombre' %}" method="GET">
        <label for="nombreLi">Búsqueda por Nombre</label>
        <input type="text" name="nombreLi" id="nombreLi" placeholder="Ingresar nombre del libro">
        <input type="submit" value="Buscar nombre">
    </form>

    <h2>{{ mensaje }}</h2>

{% endblock contenido_que_cambia %}

{% block descripcion_final %}



{% endblock descripcion_final %}

