{% extends 'padre.html' %}

{% load static %}

{% block tituloPagina %}
    Clientes - Librería Coder
{% endblock tituloPagina %}

{% block titulo %}  Gestión de Clientes {% endblock titulo %}

{% block descripcion_titulo %} En esta página, administraremos a los clientes de librería Coder {% endblock %}

{% block contenido_que_cambia %}
    
    <h4>Listado de Clientes</h4>

    <ul>
        {% for cliente in object_list %}

            <li>
                {{ cliente }} 
                <a class="btn btn-info" href="{% url 'cliente_detalle' cliente.numeroCli %}">Ver</a>
                <a class="btn btn-danger" href="{% url 'cliente_delete' cliente.numeroCli %}">Borrar</a>
                <a class="btn btn-warning" href="{% url 'cliente_update' cliente.numeroCli %}">Actualizar</a>
            </li>
            

        {% endfor %} 
        <br>
        <br>
        <a class="btn btn-secondary" href="{% url 'clientes_crea' %}">Agregar Cliente</a>

    </ul>

{% endblock contenido_que_cambia %}