{% extends 'padre.html' %}

{% load static %}

{% block tituloPagina %}
    Home - Librería Coder
{% endblock tituloPagina %}

{% block titulo %}  Tu Librería Coder {% endblock titulo %}

{% block descripcion_titulo %} Descubre un mundo de conocimiento, imaginación y aventura en la librería Coder. Somos más que una simple tienda de libros; somos tu puerta de entrada a un universo de historias cautivadoras, aprendizaje sin fin y entretenimiento sin límites. {% endblock %}

{% block contenido_que_cambia %}

        {{ mensaje }}
    <br>
    <h1>Bienvenido a Librería Coder: Tu Socio en la Gestión Literaria</h1>
    <br>
    <p>
        En Librería Coder, entendemos la pasión por los libros y la importancia de una gestión eficiente de tu biblioteca o librería. Es por eso que hemos desarrollado una solución de software de vanguardia diseñada para simplificar la administración de tus libros y brindarte el control que necesitas.
    </p>

    
{% endblock contenido_que_cambia %}

