{% extends 'padre.html' %}

{% load static %}

{% block tituloPagina %}
    Libros - Librería Coder
{% endblock tituloPagina %}

{% block titulo %}  Gestion de Libros{% endblock titulo %}

{% block descripcion_titulo %} Esta pagina, podremos crear los libros de nuestra libreria Coder {% endblock %}

{% block contenido_que_cambia %}

    <h1>Formulario Libros</h1>

    <form class="formlibro" action="{% url 'libros' %}" method="POST"> {% csrf_token %}

        <table>
            {{ formulario.as_table }}
        </table>
        <br>
        <input type="submit" value="Agregar">
    </form> 
    <br>
    <h3>{{ mensaje }}</h3> 

{% endblock contenido_que_cambia %}

{% block descripcion_final %}

   {% if libros %}
        <br>
        <h4>Listado de Libros</h4>

        <table>
            <thead>
                <tr>
                    <th>ISBN</th>
                    <th>Nombre</th>
                    <th>Autor</th>
                    <th>Categoria</th>
                    <th>Disponible</th>
                </tr>
            </thead>

            {% for lib in libros %}

                <tbody>

                    <td>
                        {{ lib.isbn }}  
                    </td>
                    <td>
                        {{ lib.nombreLi }}  
                    </td>
                    <td>
                        {{ lib.autorLi }}  
                    </td>

                    <td>
                        {{ lib.categoriaLi }}  
                    </td>
                    <td>
                        {{ lib.disponible }}  
                    </td>
                    <td>
                        <a class="btn btn-danger" href="{% url 'eliminarlibro'  lib.isbn %}">❌</a>
                        <a class="btn btn-succes" href="{% url  'editarlibro' lib.isbn %}">🔄</a>
                    </td>
                </tbody>
       
            {% endfor %} 
        </table>

        {{ mensaje }}
    
    {% endif %} 

{% endblock descripcion_final %}

